body{
  font-weight: 400;
}

nav{
  text-align: center;
  background-color:
}

.title{
  text-align: center;
  font-weight: 300;
}

.title, #popbox, #thermobox{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#popbox, #thermobox{
  text-align: center;
  display: grid;
  max-width: 20em;
  padding-bottom: 3em;
}

#popimg, #thermoimg{
  grid-column: 1;
  grid-row: 1;
}

#pophead, #thermohead{
  grid-column: 1;
  grid-row: 1;

  margin: auto;
  font-weight: 900;
  color: #00bcff;
}

#popbox p, #thermobox p{
  grid-column: 1;
  grid-row: 1;

  margin-top: auto;
}

footer{
  text-align: center;
}
